.header {
  background: white;
  padding: 0;
  border-bottom: 1px solid red;
}

.header a {
  color:  rgb(136, 0, 0);
}

.header a:hover {
  background: red;
  color: white;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  padding: 1rem;
}

.header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header ul a {
  padding: 1rem;
  display: inline-block;
}

